.wrap {
  margin: 0 auto;
  max-width: 1032px;
  display: flex;
  flex-direction: column;
}
.logo {
  margin: 113px 0 59px;
  width: 508px;
}
.link {
  width: 100%;
  height: 241px;
  border-radius: 36px;
  padding: 66px 63px;
  box-shadow: 4px 4px 21px 0px rgba(0, 0, 0, 0.16);
}
.link + .link {
  margin-top: 38px;
}
.link > img {
  width: 275px;
}
.copy {
  width: 337px;
  margin: 135px 0 41px;
}
